@if $toc {
  /* - Button___________________Boutons d'action */
} @else {
  /* Boutons d'action [component]
  ========================================================================== */

  // Style par défaut (bouton primaire)
  .qam-button,
  %qam-button,
  .qa-form-tall-button,
  .qa-form-wide-button,
  .qa-form-light-button-reply {
    @include unstyled-button($extend: true, $important: false);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    min-height: rem(40); // 40px
    margin: rem(8) rem(4) rem(8) 0; // 8px 4px 8px 0
    padding: rem(8) rem(24); // 8px 24px
    color: theme(button-txt);
    font-size: rem(16); // 16px
    line-height: lh(20, 16); // 20px
    background-color: theme(button-bgc);

    // État tabulé
    &:focus {
      outline: 2px solid theme(default-focus);
      outline-offset: 2px;
    }

    // État survolé
    &:hover {
      background-color: theme(button--hover-bgc);
    }

    // État actif
    &:active {
      background-color: theme(button--active-bgc);
    }
  }

  // Bouton secondaire
  .qam-button-secondary,
  .qa-form-basic-button,
  .qa-form-tall-button-cancel,
  .qa-form-tall-button-reset,
  .qa-form-wide-button-cancel,
  .qa-form-wide-button-reset,
  .qa-form-wide-button-showdefaults,
  .qa-form-wide-button-doversioncheck,
  .qa-form-wide-button-change,
  .qa-form-wide-button-setbonus,
  .qa-template-user .qa-form-tall-button-post,
  .qa-form-tall-button-test,
  .qa-form-tall-button-start,
  .qa-form-tall-button-saveview,
  .qa-form-light-button-hide,
  .qa-form-light-button-close,
  .qa-form-light-button-reopen,
  .qa-form-light-button-flag,
  .qa-form-light-button-unflag,
  .qa-form-light-button-edit,
  .qa-form-light-button-retagcat,
  .qa-form-light-button-follow,
  .qa-form-light-button-delete,
  .qa-a-select-button,
  .qa-a-unselect-button,
  .qa-notice-close-button,
  .qa-form-wide-button-block,
  .qa-form-wide-button-unblock,
  .qa-form-wide-button-hideall,
  [class*="qa-form-tall-button-add"],
  [class*="qa-form-wide-button-delete"] {
    @extend %qam-button;
    color: theme(button-secondary-txt);
    background-color: theme(button-secondary-bgc);
    box-shadow: inset 0 0 0 1px currentColor;

    // État survolé
    &:hover {
      background-color: theme(button-secondary--hover-bgc);
    }

    // État actif
    &:active {
      background-color: theme(button-secondary--active-bgc);
    }
  }


  // Conteneur des boutons
  .qa-form-tall-buttons,
  .qa-form-wide-buttons {
    margin-top: rem(24); // 24px
  }


  // Spacer de boutons
  .qa-form-tall-buttons-spacer {
    display: none;
  }


  // Icônes et texte
  .qa-form-light-button-answer,
  .qa-form-light-button-reshow,
  .qa-form-light-button-comment,
  .qa-form-light-button-reply {
    @extend %qam-button;
    padding-left: rem(40);
    text-transform: capitalize;
    background-repeat: no-repeat;
    background-position: #{rem(12)} #{rem(12)}; // 12px 12px
    background-size: #{rem(16)} #{rem(16)}; // 16px 16px
  }

  // Icônes seules
  .qa-form-light-button-hide,
  .qa-form-light-button-close,
  .qa-form-light-button-reopen,
  .qa-form-light-button-flag,
  .qa-form-light-button-unflag,
  .qa-form-light-button-edit,
  .qa-form-light-button-retagcat,
  .qa-form-light-button-follow,
  .qa-form-light-button-delete,
  .qa-a-select-button,
  .qa-a-unselect-button {
    min-width: rem(40); // 40px
    padding: rem(8); // 8px
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: #{rem(12)} #{rem(12)}; // 12px 12px
    background-size: #{rem(16)} #{rem(16)}; // 16px 16px
    cursor: pointer;
  }

  // Arrières-plan
  $icons: "answer", "hide", "reshow", "close", "reopen", "flag", "unflag", "edit", "retagcat", "follow", "comment", "delete"; // stylelint-disable order/order

  @each $icon in $icons {
    .qa-form-light-button-#{$icon} {
      background-image: url("images/icon.svg#button-#{$icon}");
    }
  }

  // Bouton de sélection
  .qa-a-select-button {
    background-image: url("images/icon.svg#button-select");
  }

  // Bouton de suppression de la sélection
  .qa-a-unselect-button {
    background-image: url("images/icon.svg#button-unselect");
  }

  // Bouton de fermeture de l'info de première visite
  .qa-notice-close-button {
    margin-left: rem(16);
  }

  // Bouton de réponse à un message privé
  .qa-form-light-button-reply {
    background-image: url("images/icon.svg#button-answer");
  }
}
