@if $toc {
  /* - Form_____________________Conteneur des éléments de formulaire dans les pages d'administration */
} @else {
  /* Conteneur des éléments de formulaire dans les pages d'administration [component]
  ========================================================================== */


  // Spacer
  .qa-form-wide-spacer {
    height: rem(32); // 32px

    + .qa-form-wide-spacer {
      display: none;
    }
  }


  // Conteneur des champs de formulaire
  .qa-form-wide-data,
  .qa-form-tall-label,
  .qa-form-tall-data,
  .qa-form-tall-select {
    margin-bottom: rem(24); // 24px
  }


  // Conteneur des cases à cocher et des boutons radio
  // Intitulé sur la page utilisateur
  .qa-form-wide-label,
  .qa-form-tall-label {
    &:only-child,
    [class].qa-template-user & {
      margin-bottom: 0;
    }
  }


  // Conteneur de champs comprenant des éléments en vis à vis
  .qa-form-wide-data {
    @include mq($from: XS) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


  // Labels
  .qa-form-tall-label,
  .qa-form-wide-label {

    // Précédant un champs de saisie
    &:not(:only-child) {
      margin-bottom: rem(8); // 8px
    }

    // Contenant un paragraphe
    p {
      font-size: rem(14); // 14px
    }
  }


  // Conteneurs qui suivent une case à cocher ou un radio button
  [id="email_privacy"],
  [id="avatar_profile_size"],
  [id="block_bad_usernames"],
  [id="editor_for_qs"],
  [id="min_len_q_title"],
  [id="min_len_a_content"],
  [id="block_bad_words"],
  [id="sort_answers_by"],
  [id="page_size_q_as"],
  [id="pages_prev_next"],
  [id="block_ips_write"] {
    margin-top: rem(24); // 24px
  }


  // Texte additionnels
  .qa-form-tall-note,
  .qa-form-wide-note,
  .qa-form-tall-suffix {
    color: theme(form-note-txt);
    font-size: rem(12); // 12px

    // Qui suit une liste de cases à cocher ou de boutons radio
    [role="list"] + & {
      display: block;
      margin-top: rem(-12); // -12px
      margin-left: rem(32); // 32px
    }

    // Qui se trouve en vis à vis d'autre chose
    .qa-form-wide-data & {
      @include mq($from: XS) {
        flex-shrink: 0;
        width: 50%;
        margin-left: rem(16); // 16px
      }
    }

    &:last-child {
      @include mq($until: XS) {
        display: block;
        margin: rem(8) 0 rem(24); // 8px 0 24px
      }
    }
  }


  // Cas particulier des champs et labels qui ne se trouvent pas dans les bons div
  [id="smtp_port"],
  [id="smtp_secure"] {
    margin-bottom: rem(24); // 24px
  }

  [id="option_smtp_port"],
  [id="option_smtp_secure"] {
    margin-top: rem(8); // 8px
  }

  @include mq($from: XS) { // stylelint-disable order/order
    [id="block_bad_usernames"],
    [id="block_bad_words"],
    [id="block_ips_write"],
    [id="mailing_body"] {
      .qa-form-tall-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .qa-form-tall-note {
        flex-shrink: 0;
        width: 50%;
        margin-left: rem(16); // 16px
      }
    }

    [id="site_language"],
    [id="site_theme"],
    [id="site_theme_mobile"],
    [id="site_text_direction"],
    [id="tags_or_categories"],
    [id="logo_width"],
    [id="logo_height"],
    [id="mailing_per_minute"] {
      .qa-form-tall-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(24); // 24px
      }

      label {
        width: 100%;
      }

      select,
      input {
        width: calc(50% - #{rem(16)}); // 50% - 16px
      }

      .qa-form-tall-suffix {
        flex-shrink: 0;
        width: 50%;
        margin-left: rem(16); // 16px
      }
    }
  }


  // Cas particulier d'une case à cocher avec vis à vis
  @include mq($from: XS) {
    [id="recalc_hotness_q_view"],
    [id="moderate_users"],
    [id^="feed_"]:not([id="feed_number_items"]) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .qa-form-wide-data {
        flex-shrink: 0;
        width: 50%;
        margin: 0 0 rem(8) rem(16); // 0 0 8px 16px
      }

      .qa-form-wide-note {
        width: auto;
        margin-left: 0;
      }
    }
  }


  // Cas particulier de l'intitulé des catégories sur le formulaire de question
  // Cas particulier de l'intitulé des catégories dans l'administration des catégories
  label[for="category_0"],
  label[for="parent_0"] {
    margin-bottom: rem(8); // 8px
  }


  // Indicateur d'aide
  .qa-form-wide-help {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: rem(24); // 24px
    height: rem(24);
    color: theme(form-help-txt);
    font-weight: 700;
    font-size: rem(14);
    border: 2px solid currentColor;
    border-radius: 50%;
    cursor: help;
  }


  // Notification d'erreur
  // Notification de succès
  .qa-form-tall-error,
  .qa-form-wide-error,
  .qa-form-tall-ok,
  .qa-form-wide-ok {
    img {
      display: inline-block;
      margin-right: rem(8); // 8px
      vertical-align: bottom;
    }
  }

  // Notification d'erreur
  .qa-form-tall-error {
    margin-top: rem(8); // 8px
    color: theme(form-error-txt);
  }

  // Notification de succès
  .qa-form-tall-ok {
    margin-bottom: rem(24); // 24px
    color: theme(form-ok-txt);
  }


  // Adaptation aux petits écrans
  @include mq($until: XS) {
    // Classe de certains select
    .qa-form-tall-select:not(:last-child) {
      margin-bottom: 0;
    }

    // Préfixe + ou -
    .qa-form-wide-prefix {
      float: left;
      line-height: lh(38, 16); // 38px

      + input {
        max-width: calc(100% - #{rem(32)}); // 100% - 32px
      }

      ~ .qa-form-wide-note {
        clear: both;
      }
    }
  }
}
